<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="/sam_project/static/style.css">

    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FLAML Model Result</title>
</head>
<body>
    <div class="container">
        <h1>FLAML Model Result</h1>
        <p>Prediction: {{ prediction }}</p>
        <a class="home-button" href="/">Back to Home</a>
    </div>
</body>
</html>
